#statsPane {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #c9beeb, #a8c0ce);
    -fx-alignment: center;
}

#backButton, #endButton {
    -fx-background-color: #f6f6f6;
    -fx-font-style: italic;
    -fx-font-size: 25;
    -fx-text-fill: #5c656c;
    -fx-font-weight: bold;
    -fx-padding: 8px;
    -fx-background-radius:1;
    -fx-border-color: #c3c3c3;
    -fx-border-width: 2 2 2 2;
    -fx-alignment: center;
}

#backButton:hover, #endButton:hover {
    -fx-background-color: #c3c3c3;
    -fx-font-style: italic;
    -fx-font-size: 25;
    -fx-text-fill: #5c656c;
    -fx-font-weight: bold;
    -fx-padding: 8px;
    -fx-background-radius:1;
    -fx-border-color: #c3c3c3;
    -fx-border-width: 2 2 2 2;
}

.label {
    -fx-font-style: italic;
    -fx-font-size: 25;
    -fx-text-fill: #5c656c;
    -fx-font-weight: bold;
    -fx-padding: 8px;
}